/* .body{
    font-family: sans-serif;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
} */

.header{
    background-color: rgba(197, 243, 243, 0.979);
    /* width: 1200px;
    margin-left: auto;
    margin-right: auto; */

}

.servicios{
    
    background-color: rgb(197, 243, 243);
    height: auto;
    display: flex;
    justify-content: space-evenly;
    
    
}
.servicios_contenedor {

    display: inline-block;
    text-align: center;
    width: 33.08%;
    margin: 70px 20px 20px;
    


}

.servicios_texto {

    text-align: justify;
    padding: 20px;
    margin: 40px 20px 20px;

}


.noticias{
    background-color: rgba(197, 243, 243, 0.979);
    display: flex;
    justify-content: space-evenly;
    text-align: center;  
}
.texto_noti{

    margin: 10px 20px 10px ;
    text-align: justify;   
}
/*Aqui se encuentra el estilo de los integrantes*/
.integrantes{
    background-color:#1C1C1C;
    display: flex;
    justify-content: space-evenly;
    margin-right: auto;
    margin-left: auto;
}
/*Aqui se encuentra el estilo de cada participante*/
.participante{
    width: 23%;
    height: auto;
    display: inline-block;
    margin: 20px 4px 20px;
    text-align: center;
    background-color:  rgba(197, 243, 243, 0.979);
}

/* Aqui se encuentra el estilo de letra del participante  */
.Letra-texto-participante{
    text-align:justify;
    font-style: italic; 
    justify-content: space-evenly;
    margin: 10px 20px 10px ;
    border-left:#1C6B68 10px solid;

}

/* Aqui se encuentra el estilo de Nombre participante  */
.nombreParticipante{
    color: aliceblue;
    font-weight: bold;
    border-left:#1C6B68 5px solid;
}


.footer{
    background-color: #1b1b1b;
    display: flex;
}

.barra-superior{
    display: flex;
    align-items: center;
    height: 80px;
    background: #1b1b1b;


}

.titulo-principal,.contenedor-menu {
    width: 50%;
    /* background: black; */
    color: white;
    font-size: 20px;
    font-weight: 10;
    /* background: steelblue; */
    /* padding-left: 70; */
}

.titulo-principal{
    text-align: center;
}

.menu-principal{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}

.menu-principal__item{
    /* background: black; */
    
}
.menu-principal__item >a{
    text-decoration: none;
    color:white;
    line-height: 70px;
    font-size: 18px;
}

.menu-principal__item >a:hover{
    font-size: 25px;
    text-decoration: underline;
    box-shadow: 0 0 5px#33ffff;
    border-radius: 5px;
}
.imgp{
    width: 1400px; height: 400px;
}

.banner__titulo{
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 250%;

}

.footer_titulo, .footer_team{
    width: 50%;
    text-align: center;
    /* justify-content: left; */
    color: white;
}

.footer_parrafo{
    justify-content: center;
}
.footer_rol{
    justify-content: center;
    align-items: flex-start;
    list-style: none;
    justify-content: space-evenly;
    align-content: flex-start;

}

.container{
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 1cm;
}

.footer_titulo>a{
    font-size: 120%;
    color:rgba(197, 243, 243, 0.979);
    
}